<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Hibernate One To Many Check List IS Allowed Or Not/src/com/One2Many/TestSongsArtist.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.One2Many.TestSongsArtist"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Hibernate One To Many Check List IS Allowed Or Not"/>
</launchConfiguration>
